body { 
    font-family: 'Arial', sans-serif; color: #333; 
}

  section { 
    padding: 15px; margin: 5px 0; 
}

  footer { 
    background-color: #f2f2f2; padding: 10px; text-align: center; 
}

.sticky { 
  position: sticky; top: 0; background-color: #505454; padding: 10px; z-index: 100; 
}

nav ul {
  list-style-type: none; margin: 0; padding: 0; overflow: hidden; 
}

nav ul li { 
  float: left; 
}

nav ul li a { 
  display: block; color: #ffffff; text-align: center; padding: 14px 16px; text-decoration: none; 
}

nav ul li a:hover { 
  background-color: #ddd; 
  
}